.who-am-i {
	color: white;
	font-size: 16px;
	font-weight: bold;
}

.-form {
	width: 500px;
}

.form-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-login {
	width: 208px;
	border: 1px solid;
}

.header {
	background-color: #73bf45;
	display: grid !important;
	grid-template-columns: 2fr 1fr;
	height: 81px;
	align-items: center;
	padding: 24px;
	margin-bottom: 40px;
	font-size: 15px;
}

.header__logo {
	font-weight: bold;
	font-size: 22px;
}

.item-agendamento {
	background-color: white;
	cursor: pointer;
	width: 23%;
	display: grid;
	margin-top: 60px;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 1px 10px 0 rgba(241, 234, 234, 0.3)
}

.col1 { /*  coluna do icone calendario */
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
}

.col2 {
	max-height: 133px;
	word-break: break-word;
	overflow: hidden;
}

.row1 {
	padding: 10px;
	border-bottom: 3px solid;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.row2__text {
	text-align: justify;
	padding: 10px;
}

.empty-content {
	color: white;
	height: 200px;
	display: flex;
	align-items: center;
	margin-top: 16px;
	font-weight: bold;
}

.modal-title {
	font-size: 16px;
	fon-weight: bold;
	font-weight: bold;
	padding: 4px;
}

@media ( max-width : 992px) {
	.item-agendamento {
		padding: 12px;
		font-size: 12px;
		text-align: center;
		max-height: 125px;
	}
	.row1 {
		padding: 0;
		border-bottom: none;
		white-space: normal;
        overflow: hidden;
	}
	.row2 {
		display: none;
	}
	.col2 {
		max-height: 51px;
		word-break: break-word;
		overflow: hidden;
	}
}