.-form {
	width: 500px;
}

.form-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-login {
	width: 208px;
	border: 1px solid;
}

.header {
	display: grid;
	grid-template-columns: 2fr 1fr;
	height: 50px;
	align-items: center;
	margin: 23px 74px;
}

.item-agendamento {
	cursor: pointer;
	width: 23%;
	display: grid;
	margin-top: 60px;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
}

.col1 { /*  coluna do icone calendario */
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
}

.row1 {
	padding: 10px;
	border-bottom: 3px solid;
}

.row2__text {
	text-align: justify;
	padding: 15px;
}

@media ( max-width : 770px) {
	.item-agendamento {
		padding: 12px;
		font-size:12px;
		text-align: center;
	}
	.row1 {
		padding: 0;
		border-bottom: none;
	}
	.row2 {
		display: none;
	}
}