/*  Utiliza-se na página index e quemSomos*/


.-bem-vindo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 8rem;
	color: white;
}

h5 {
	color: #73bf45;
}

#carouselExampleIndicators {
	width: 80%;
}

.item {
	order: 5; /* default is 0 */
}

.content-cards {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card {
	width: 23rem;
	margin-right: 15px;
	margin-top: 80px;
	order: 5; /* default is 0 */
	min-height: 465px;
}

.content-team {
	margin-top: 4rem;
	color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.content-team__user{
	margin-bottom: 2rem;
}

.-link{
	color:#73bf45 ;
	font-weight: bold;
}

.-link:hover{
	color: #ff79c6;
}

.icon{
	font-size: 15px;
}

.-photo {
    height: 117px;
	border-radius: 63px;
}

@media screen and (max-width: 700px) {
	
	#carouselExampleIndicators {
		width: 100%;
	}
	
	.content-team {
		flex-direction: column;
		margin-top: 2rem;
	}
	
	.content-team__user:last-child{
		margin-bottom: 32rem;
	}
	
	.content-cards {
		flex-direction: column;
	}
	
	.card {
		width: 20rem;
	}
}

html {
	font-size: 1rem;
}

@
include media-breakpoint-up (sm ) {html {
	font-size: 1.2rem;
}

}
@
include media-breakpoint-up (md ) {html {
	font-size: 1.4rem;
}

}
@
include media-breakpoint-up (lg ) {html {
	font-size: 1.6rem;
}
}