.title {
  position: relative;
  top: 50px;
  font-weight: bold;
  float: center;
  color: white;
  text-align: center;
}
#card1 {
  position: absolute;
  left: 20px;
  top: 5px;
}

#card2 {
  position: absolute;
  left: 400px;
  top: 5px;
}

#card3 {
  position: absolute;
  left: 800px;
  top: 5px;
}
#cards {
  position: relative;
  top: 60px;
}
