.content-cards {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card {
	width: 18rem;
}

h4 {
	color: rgb(34, 20, 43);
}

#rodape {
	font-size: 10px;
}

.-line{
	border: 1px solid;
	margin-bottom: 10px;
}
.card-text{
	text-align: inherit;
}


@media screen and (max-width: 700px) {
	.content-cards {
		flex-direction: column;
	}
	.card {
		margin-bottom: 2rem;
	}
}