body {
	font-family: Arial !important;
	font-size: 14px !important;
	background-image:url(../img/back.jpg);
	background-size: cover;
}

header {
	background-color: #73bf45;
}

/* remove a navbar em desktop */
.mobile-menu {
	display: none !important;
}

.desk-menu {
	display: flex !important;
	justify-content: center;
	align-items: center;
}

.logo {
	height: 70px;
}

.logo__img {
	width: 115px;
}

.menu {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    background-color: #73bf45;
    height: 70px;
    align-items: center;
}

.menu__text {
	color: #002639;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	padding: 25px;
}

.menu__text:hover {
	background-color: #002639;
	color: #ff79c6;
}

.login {
	width: 100px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	color: #002639;
}

.login:hover {
	background-color: #002639;
	cursor: pointer;
	color: #ff79c6;
}

.formulario {
	width: 423px;
	border: solid 1px #50fa7b;
	border-radius: 10px;
	padding: 30px;
}

.form-lg { /* Container padrão de formulário  */
	background: white;
	padding: 16px;
	margin-bottom: 1rem;
	border-radius: 6px;
}

.-flexcenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.-agendamento-card {
	margin-top: 30px;
	width: 600px;
}

.titulo {
	margin: 2rem;
	text-align: center;
	color: white;
}

@media screen and (max-width: 700px) {
	/* menu */
	header {
		background: none;
	}
	.desk-menu {
		display: none !important;
	}
	.mobile-menu {
		display: block !important;
		background-color: #73bf45 !important;
	}
	.navbar {
		border-bottom: 1px solid black !important;
	}
	.collapse__menu {
		display: flex;
    	flex-direction: column;
		background-color: #73bf45 !important;
		border-bottom: 1px solid black;
		z-index: 9;
	}
}